/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/
.clear {
  clear: both;
}
.kbrd-container {
  color: #000;
}
.kbrd-container span {
  color: #646464;
}
.kbrd-column {
  float: left;
}
.col1_1 {
  width: 100%;
}
.col1_2 {
  width: 50%;
}
.col1_3 {
  width: 30%;
}
.com1_4 {
 width: 25%;
}
.col3_5 {
  width: 60%;
}
.col2_5 {
  width: 40%;
  padding: 0 2%;
}

.alignment_bottom {
  display: flex;
  align-items: flex-end;
}

.alignment_top {
  display: flex;
  align-items: flex-start;
}
.kbrd-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #000;
}
.space20 {
  margin: 20px 0;
}

.price-param {
 line-height: 14px;
}

