/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/
body {
  height: 100%;
}
html {
  position: relative;
  min-height: 100%;
}
.clear {
  clear: both;
}
.kbrd-column {
  float: left;
}
.col_flex {
  display: flex;
  flex-wrap: wrap;
}
.col_flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col_flex_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.col1_1 {
  width: 100%;
}
.col1_2 {
  width: 50%;
}
.col1_3 {
  width: 30%;
}
.col1_4 {
  width: 25%;
}
.col3_4 {
  width: 75%;
}
.col3_5 {
  width: 60%;
}
.col2_5 {
  width: 40%;
  padding: 0 2%;
}

.alignment_bottom {
  display: flex;
  align-items: flex-end;
}

.alignment_top {
  display: flex;
  align-items: flex-start;
}
.kbrd-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  color: #000;
}
.space20 {
  margin: 20px 0;
}
.price-param {
  line-height: 14px;
}
.container {
  padding: 0 30px 30px;
}
header {
  background-color: #7945d6;
  height: 44px;
  padding: 0 30px;
}
.site-title a {
  color: #ffe740;
}
aside {
  float: left;
  width: 25%;
  margin-bottom: 230px;
}
main {
  margin: 0 auto;
  padding: 0 20px 200px;
  color: #000;
}
main span {
  color: #999999;
}
footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin-top: auto;
  height: 200px;
  background-color: #7945d6;
}

.page-template-ad-form .container {
  padding: 0 90px 200px;
}
.profile-nav {
  color: #fff;
}
.add-ad {
  height: 30px;
  line-height: 30px;
  padding: 0 1em;
  background-color: #fff /*#ffe740*/;
  color: #7945d6;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.add-ad:hover {
  background-color: #7945d6;
  color: #fff;
  border: 1px solid #fff;
}
section.post {
  box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 30%);
  padding: 20px;
  margin: 1%;
}
section .entry-content {
  margin: 0;
}

/* Flexy breadcrumbs */
.fbc-page .fbc-wrap .fbc-items li:first-child {
  padding-left: 0;
}
.fbc-page .fbc-wrap .fbc-items li:last-child {
  padding-right: 0;
}

/* WPUF Styles */
.no-label .wpuf-label {
  display: none !important;
}

.qmark {
  background-image: url(http://sferakbr.ru/wp-content/uploads/2022/02/help-sign16.png);
  background-size: contain;
  width: 14px;
  height: 14px;
  margin: 4px 4px 0;
}
.has_question label {
  display: inline-flex;
}

.has_question .wpuf-help {
  display: none;
  position: absolute;
  top: 35px;
  z-index: 1;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 30%);
}
.has_question.show-help .wpuf-help {
  display: block !important;
}
.none {
  display: none !important;
}
.block {
  display: block !important;
}

/* webkit solution */
.right-placeholder input::-webkit-input-placeholder {
  text-align: right;
}
/* mozilla solution */
.right-placeholder input:-moz-placeholder {
  text-align: right;
}

/* Category Layouts */
.lSSlideWrapper img {
  height: 100%;
  object-fit: contain;
}
/* .lSlider {
  height: inherit;
} */
.lightSlider li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lSlider li {
  height: 150px;
}
.lGSlider li {
  height: 450px;
}
.lSSlideWrapper {
  background-color: #ccc;
}
.lSSlideOuter .lSPager.lSpg {
  margin: 0 auto !important;
  position: relative;
  bottom: 30px;
  z-index: 1;
}
.lSSlideOuter .lSPager.lSpg > li a {
  width: 30px !important;
  height: 5px !important;
}
section.post .lSAction {
  display: none !important;
}
.ad-link {
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.price {
  font-size: 18px;
  font-weight: bold;
}
.location {
  font-size: 14px;
}
.post-date {
  font-size: 14px;
  color: #999999;
}
.ad-slides {
  display: block;
}

/* Ad Layout */
article {
  padding: 40px;
}
.ad-bold {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}
.subtitle {
  font-size: 14px;
}
.price-params {
  font-size: 14px;
  font-weight: normal;
  color: #999999;
}

/* Hide phone number */
.hide-phone {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.phone-btn {
  height: 66px;
  background: #4fcc02;
  border-radius: 5px;
}
.phone-btn:hover {
  background: #39b200;
}

/* WPUF Account */
.wpuf-menu-item.dashboard,
.wpuf-menu-item.invoices {
  /*display: none;*/
}
.wpuf-menu-item.post {
  margin: 0;
}

/* Userbar menu */
.userbar {
  position: relative;
  display: inline-block;
}
.userbar-title {
  color: #fff;
}
.userbar-nav {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  border-radius: 3px;
}
.userbar-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.userbar-nav a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.userbar-nav a:hover {
  background-color: #f3f3f3;
}
.userbar:hover .userbar-nav {
  display: block;
}
/* .userbar:hover .userbar-title {color: #3e8e41;} */

/* Search forms */
#search-filter-form-211 {
  width: fit-content;
  margin: 0 auto;
}
#search-filter-form-211 ul {
  background: #7945d6;
  height: 44px;
  margin: 0;
  padding: 0 2px;
  width: auto;
  border-radius: 5px;
}
#search-filter-form-211 li {
  float: left;
  padding: 2px 0;
}
#search-filter-form-211 select,
#search-filter-form-211 input {
  height: 40px;
  outline: none;
}
#search-filter-form-211 select {
  border-radius: 5px 0 0 5px;
  border-right: 0.5px;
}
#search-filter-form-211 .sf-field-search input {
  border-radius: 0 5px 5px 0;
  border-left: 0.5 px;
}
#search-filter-form-211 .sf-field-submit {
  margin-left: 2px;
}
#search-filter-form-211 .sf-field-submit input {
  background-color: #7945d6;
  color: #fff;
  border: none;
}

/* sidebar SEARCH*/
.sf-item-0 {
  display: none !important;
}
/* СТРАНИЦА РАЗМЕЩЕНИЯ ОБЪЯВЛЕНИЯ */

.content .click {
  cursor: pointer;
  color: #404040;
  padding: 5px;
}
.content .click:hover {
  background-color: rgba(121, 69, 214, 0.3);
  color: #000;
}
.content .click.active {
  background-color: #7945d6;
  color: #fff;
}